Author:- **Bhautik Gondaliya**

mo. no.:- **[9586280240](https://)**

mail id.:- **[mr.genius0180@gmail.com](https://)**
>
>
guide:- **Shivam Mishra**

Sponcerd:- **Intellipaat**
>
>
Title:- **Module-9 Case-Study Unsupervised ML**

Date:- **17/11/2024**

>

# **K-Means Clustering**

In [64]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans

In [65]:
df = pd.read_csv("Datasets/cars.csv")
df.head()

               model   mpg  cyl   disp   hp  ...   qsec  vs  am  gear  carb
0          Mazda RX4  21.0    6  160.0  110  ...  16.46   0   1     4     4
1      Mazda RX4 Wag  21.0    6  160.0  110  ...  17.02   0   1     4     4
2         Datsun 710  22.8    4  108.0   93  ...  18.61   1   1     4     1
3     Hornet 4 Drive  21.4    6  258.0  110  ...  19.44   1   0     3     1
4  Hornet Sportabout  18.7    8  360.0  175  ...  17.02   0   0     3     2

[5 rows x 12 columns]

In [66]:
car_features = df.iloc[:, [1,3,4]]
car_features.head()

    mpg   disp   hp
0  21.0  160.0  110
1  21.0  160.0  110
2  22.8  108.0   93
3  21.4  258.0  110
4  18.7  360.0  175

In [67]:
# Step b: Build the K-Means algorithm with 3 clusters
kmeans = KMeans(n_clusters=3, random_state=42)
clusters = kmeans.fit_predict(car_features)
clusters

array([1, 1, 1, 0, 2, 0, 2, 1, 1, 1, 1, 0, 0, 0, 2, 2, 2, 1, 1, 1, 1, 0,
       0, 2, 2, 1, 1, 1, 2, 1, 2, 1], dtype=int32)

In [68]:
# Step c: Bind the clustering vector to 'car_features'
car_features['Cluster'] = clusters

C:\Users\Bhautik Gondaliaya\AppData\Local\Temp\ipykernel_8988\2705817132.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  car_features['Cluster'] = clusters

In [69]:
# Step d: Extract observations belonging to individual clusters
cluster_0 = car_features[car_features['Cluster'] == 0]
cluster_1 = car_features[car_features['Cluster'] == 1]
cluster_2 = car_features[car_features['Cluster'] == 2]
cluster_0

     mpg   disp   hp  Cluster
3   21.4  258.0  110        0
5   18.1  225.0  105        0
11  16.4  275.8  180        0
12  17.3  275.8  180        0
13  15.2  275.8  180        0
21  15.5  318.0  150        0
22  15.2  304.0  150        0

In [70]:
# Step b: Build the K-Means algorithm with 5 clusters
kmeans = KMeans(n_clusters=5, random_state=42)
clusters = kmeans.fit_predict(car_features)
clusters

array([4, 4, 1, 0, 2, 4, 2, 4, 4, 4, 4, 0, 0, 0, 2, 2, 2, 1, 1, 1, 4, 0,
       0, 2, 2, 1, 4, 1, 2, 3, 2, 4], dtype=int32)

In [71]:
car_features['Cluster'] = clusters

C:\Users\Bhautik Gondaliaya\AppData\Local\Temp\ipykernel_8988\709479552.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  car_features['Cluster'] = clusters

In [72]:
# Step d: Extract observations belonging to individual clusters
cluster_0 = car_features[car_features['Cluster'] == 0]
cluster_1 = car_features[car_features['Cluster'] == 1]
cluster_2 = car_features[car_features['Cluster'] == 2]
cluster_3 = car_features[car_features['Cluster'] == 3]
cluster_4 = car_features[car_features['Cluster'] == 4]

In [73]:
# Output the clusters
cluster_4

     mpg   disp   hp  Cluster
0   21.0  160.0  110        4
1   21.0  160.0  110        4
5   18.1  225.0  105        4
7   24.4  146.7   62        4
8   22.8  140.8   95        4
9   19.2  167.6  123        4
10  17.8  167.6  123        4
20  21.5  120.1   97        4
26  26.0  120.3   91        4
31  21.4  121.0  109        4