Author:- **Bhautik Gondaliya**

mo. no.:- **[9586280240](https://)**

mail id.:- **[mr.genius0180@gmail.com](https://)**
>
>
guide:- **Intellipaat Trainer**

Sponcerd:- **Intellipaat**
>
>
Title:- **Case-Study NLP ML**

Date:- **11/01/2025**

### `Problem Statement: `

* After understanding the syntax of your text document, now, you need to extract features from the text 
document using various methods like bag-of-words, CountVectorizer, TermFrequency–Inverse Document 
Frequency (Tf–Idf).

### **`Bag-of-words`**

--> **`Tasks:`**
* Create a function named ‘tokenized_text ()’that takes ‘sentence’ as its argument and performs word tokenization and removes all stopwords 
* Create a function named ‘sorted_token ()’ that takes ‘sentence’ as its argument and removes the duplicate word tokens and returns a sorted list of word tokens 
* Create a function named ‘bag_of_word ()’ that takes ‘sentence’ and ‘word’ as its arguments, calculates the frequency word count of word tokens, and returns a NumPy array of word tokens 
* Create a bag-of-words model on the following sentences using the three functions defined above: 
     * Joe went to the store 
     * Joe wants to buy a dining set 
     * Joe met John at the store 
     * Joe and John are best friends 
* Convert the sentences into vectors using bag-of-words

In [30]:
import numpy as np
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords

stop_words = set(stopwords.words("english"))

In [31]:
# Create a function named ‘tokenized_text ()’that takes ‘sentence’ as its argument and performs 
# word tokenization and removes all stopwords

def tokenized_text(sentence):
    words = word_tokenize(sentence)
    clean_text = [w.lower() for w in words if w not in stop_words]
    return clean_text

In [32]:
# Create a function named ‘sorted_token ()’ that takes ‘sentence’ as its argument and removes 
# the duplicate word tokens and returns a sorted list of word tokens 

def sorted_token(sentences):
    words = []
    for sentence in sentences:
        clean_text = tokenized_text(sentence)
        words.extend(clean_text)

    words = sorted(list(set(words)))
    return words

In [33]:
# Create a function named ‘bag_of_word ()’ that takes ‘sentence’ and ‘word’ as its arguments, 
# calculates the frequency word count of word tokens, and returns a NumPy array of word tokens

def bag_of_word(sentence, words):
    sentence_words = tokenized_text(sentence)

    bag = np.zeros(len(words))
    for sw in sentence_words:
        for i, word in enumerate(words):
            if word == sw:
                bag[i] += 1

    return np.array(bag)

In [ ]:
# Create a bag-of-words model on the following sentences using the three functions defined above: 

sentences = [
    "Joe went to the store",
    "Joe wants to buy a dining set",
    "Joe met John at the store",
    "Joe and John are best friends"
]

words = sorted_token(sentences)

In [ ]:
bag_of_word('Joe and John are best friends', words)

### **`BOW using CountVectorizer`**

--> `Tasks:`

* Import ‘CountVectorizer’ from ‘sklearn.feature_extraction.text’ 
* Create a numpy array named ‘corpus’ that contains the following sentences: 
    * Joe went to the store 
    * Joe wants to buy a dining set 
    * Joe met John at the store 
    * Joe and John are best friends 
* Use the ‘CountVectorizer’ class object to fit and transform the text present in ‘corpus’ and 
store the result in ‘bag_of_words’ 
* Print ‘bag_of_words’ as a numpy array 
* Print all feature names of the above-created ‘CountVectorizer’ object 
* Print the ‘bag_of_words’ array as a Pandas Data Frame with column names as feature names

In [65]:
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer

In [58]:
corpus = np.array(["Joe went to the store",
                "Joe met John at the store",
                "Joe wants to buy a dining set",
                "Joe and John are best friends"])

In [59]:
cv = CountVectorizer(stop_words='english')

In [62]:
bow = cv.fit_transform(corpus)

In [63]:
vector = bow.toarray()
vector

array([[0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1],
       [0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0],
       [0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0],
       [1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0]])

In [73]:
feature_names = cv.get_feature_names_out()
feature_names

array(['best', 'buy', 'dining', 'friends', 'joe', 'john', 'met', 'set',
       'store', 'wants', 'went'], dtype=object)

In [74]:
df = pd.DataFrame(vector, columns=feature_names)
df

   best  buy  dining  friends  joe  john  met  set  store  wants  went
0     0    0       0        0    1     0    0    0      1      0     1
1     0    0       0        0    1     1    1    0      1      0     0
2     0    1       1        0    1     0    0    1      0      1     0
3     1    0       0        1    1     1    0    0      0      0     0

### **`Term Frequency–Inverse Document Frequency`**

--> `Tasks`
* Import ‘TfidfVectorizer’ from ‘sklearn.feature_extraction.text’ 
* Create a numpy array named ‘corpus’ that contains the following sentences: 
    * Joe went to the store 
    * Joe wants to buy a dining set 
    * Joe met John at the store 
    * Joe and John are best friends 
* Use the ‘TfidfVectorizer’ class to create an object to fit and transform the text present in ‘corpus’ created above and store the result in ‘bag_of_words’ 
* Print ‘bag_of_words’ as a numpy array 
* Print all feature names of the above-created ‘TfidfVectorizer’ object 
* Print the ‘bag_of_words’ array as a pandas data frame with column names as feature names

In [76]:
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer

In [77]:
corpus = np.array(["Joe went to the store",
                "Joe met John at the store",
                "Joe wants to buy a dining set",
                "Joe and John are best friends"])

In [82]:
tfidf = TfidfVectorizer(stop_words="english")
bow = tfidf.fit_transform(corpus)

In [83]:
vector = bow.toarray()
vector

array([[0.        , 0.        , 0.        , 0.        , 0.37919167,
        0.        , 0.        , 0.        , 0.5728925 , 0.        ,
        0.72664149],
       [0.        , 0.        , 0.        , 0.        , 0.32902288,
        0.4970962 , 0.6305035 , 0.        , 0.4970962 , 0.        ,
        0.        ],
       [0.        , 0.48380259, 0.48380259, 0.        , 0.25246826,
        0.        , 0.        , 0.48380259, 0.        , 0.48380259,
        0.        ],
       [0.58783765, 0.        , 0.        , 0.58783765, 0.30675807,
        0.46345796, 0.        , 0.        , 0.        , 0.        ,
        0.        ]])

In [85]:
feature_names = tfidf.get_feature_names_out()
feature_names

array(['best', 'buy', 'dining', 'friends', 'joe', 'john', 'met', 'set',
       'store', 'wants', 'went'], dtype=object)

In [87]:
df = pd.DataFrame(vector, columns=feature_names)
df

       best       buy    dining  ...     store     wants      went
0  0.000000  0.000000  0.000000  ...  0.572892  0.000000  0.726641
1  0.000000  0.000000  0.000000  ...  0.497096  0.000000  0.000000
2  0.000000  0.483803  0.483803  ...  0.000000  0.483803  0.000000
3  0.587838  0.000000  0.000000  ...  0.000000  0.000000  0.000000

[4 rows x 11 columns]