In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('Bakery_data.csv')

In [4]:
from mlxtend.frequent_patterns import apriori, association_rules

In [5]:
frequent_itemsets = apriori(df, min_support=0.4, use_colnames=True)

print(frequent_itemsets)

    support              itemsets
0  0.608696                (milk)
1  0.434783              (butter)
2  0.434783                (beer)
3  0.565217              (cheese)
4  0.565217                (eggs)
5  0.434783        (butter, milk)
6  0.565217          (eggs, milk)
7  0.434783        (eggs, butter)
8  0.434783  (eggs, butter, milk)

c:\Users\bhaut\AppData\Local\Programs\Python\Python313\Lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:161: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

In [10]:
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.7)
# rules
print(rules[['antecedents', 'consequents', 'support', 'confidence', 'lift']])

       antecedents     consequents   support  confidence      lift
0         (butter)          (milk)  0.434783    1.000000  1.642857
1           (milk)        (butter)  0.434783    0.714286  1.642857
2           (eggs)          (milk)  0.565217    1.000000  1.642857
3           (milk)          (eggs)  0.565217    0.928571  1.642857
4           (eggs)        (butter)  0.434783    0.769231  1.769231
5         (butter)          (eggs)  0.434783    1.000000  1.769231
6   (eggs, butter)          (milk)  0.434783    1.000000  1.642857
7     (eggs, milk)        (butter)  0.434783    0.769231  1.769231
8   (butter, milk)          (eggs)  0.434783    1.000000  1.769231
9           (eggs)  (butter, milk)  0.434783    0.769231  1.769231
10        (butter)    (eggs, milk)  0.434783    1.000000  1.769231
11          (milk)  (eggs, butter)  0.434783    0.714286  1.642857

In [34]:
filtered_rules = rules[(rules['confidence'] >= 0.8) & (rules['lift'] >= 1)]

print(filtered_rules[['antecedents', 'consequents', 'support', 'confidence', 'lift', 'leverage']])

       antecedents   consequents   support  confidence      lift  leverage
0         (butter)        (milk)  0.434783    1.000000  1.642857  0.170132
2           (eggs)        (milk)  0.565217    1.000000  1.642857  0.221172
3           (milk)        (eggs)  0.565217    0.928571  1.642857  0.221172
5         (butter)        (eggs)  0.434783    1.000000  1.769231  0.189036
6   (eggs, butter)        (milk)  0.434783    1.000000  1.642857  0.170132
8   (milk, butter)        (eggs)  0.434783    1.000000  1.769231  0.189036
10        (butter)  (eggs, milk)  0.434783    1.000000  1.769231  0.189036

>
>
>
>
>

>

>

>

# Hands_On

In [108]:
data = pd.read_csv('random_transactions.csv', header=None)

In [109]:
data.head()

      0      1       2     3       4     5
0   NaN    NaN  butter  beer     NaN   NaN
1   NaN  bread     NaN   NaN  cheese  eggs
2  milk  bread     NaN  beer  cheese   NaN
3   NaN    NaN  butter   NaN     NaN  eggs
4   NaN    NaN     NaN   NaN  cheese   NaN

In [110]:
data.shape

(500, 6)

In [111]:
l = []
for i in range(500):
    l.append([str(data.values[i,j]) for j in range(6)])

l[0]

['nan', 'nan', 'butter', 'beer', 'nan', 'nan']

In [112]:
from apyori import apriori

In [115]:
ass_rules = apriori(l, min_support=0.0045, min_confidence=0.2, min_lift=3, min_length=2)
ass_result = list(ass_rules)
len(ass_result)

4

In [117]:
ass_result[0]

RelationRecord(items=frozenset({'beer', 'cheese', 'milk', 'butter'}), support=0.036, ordered_statistics=[OrderedStatistic(items_base=frozenset({'beer', 'butter'}), items_add=frozenset({'cheese', 'milk'}), confidence=0.31034482758620685, lift=3.232758620689655), OrderedStatistic(items_base=frozenset({'cheese', 'milk'}), items_add=frozenset({'beer', 'butter'}), confidence=0.37499999999999994, lift=3.2327586206896544)])

In [118]:
# min_support 1%
ass_rules = apriori(l, min_support=0.01, min_confidence=0.5, min_lift=2)
ass_result = list(ass_rules)
len(ass_result)

16

In [119]:
ass_result[0]

RelationRecord(items=frozenset({'beer', 'eggs', 'milk'}), support=0.166, ordered_statistics=[OrderedStatistic(items_base=frozenset({'eggs', 'milk'}), items_add=frozenset({'beer'}), confidence=0.8217821782178217, lift=2.044234274173686)])

In [120]:
ass_df = pd.DataFrame(ass_result)
ass_df

,items,support,ordered_statistics
0,"(beer, eggs, milk)",0.166,"[((eggs, milk), (beer), 0.8217821782178217, 2...."
1,"(beer, eggs, bread, milk)",0.106,"[((beer, bread), (eggs, milk), 0.5353535353535..."
2,"(beer, cheese, eggs, butter)",0.040,"[((cheese, butter), (beer, eggs), 0.5263157894..."
3,"(beer, cheese, milk, butter)",0.036,"[((beer, milk, butter), (cheese), 0.5294117647..."
4,"(beer, eggs, milk, butter)",0.040,"[((eggs, milk, butter), (beer), 0.833333333333..."
5,"(beer, cheese, milk, eggs)",0.048,"[((cheese, milk), (beer, eggs), 0.5, 2.3364485..."
6,"(nan, beer, eggs, milk)",0.166,"[((eggs, milk), (beer, nan), 0.821782178217821..."
7,"(cheese, milk, eggs, butter)",0.028,"[((eggs, milk, butter), (cheese), 0.5833333333..."
8,"(milk, beer, nan, eggs, bread)",0.106,"[((beer, bread), (nan, eggs, milk), 0.53535353..."
9,"(milk, beer, eggs, cheese, butter)",0.028,"[((beer, cheese, butter), (eggs, milk), 0.5384..."
10,"(beer, nan, eggs, cheese, butter)",0.040,"[((cheese, butter), (beer, nan, eggs), 0.52631..."
11,"(milk, beer, nan, cheese, butter)",0.036,"[((beer, milk, butter), (nan, cheese), 0.52941..."
12,"(milk, beer, nan, eggs, butter)",0.040,"[((eggs, milk, butter), (beer, nan), 0.8333333..."
13,"(milk, beer, nan, eggs, cheese)",0.048,"[((cheese, milk), (beer, nan, eggs), 0.5, 2.33..."
14,"(milk, nan, eggs, cheese, butter)",0.028,"[((eggs, milk, butter), (nan, cheese), 0.58333..."
15,"(milk, beer, eggs, nan, cheese, butter)",0.028,"[((beer, cheese, butter), (nan, eggs, milk), 0..."