Author:- **Bhautik Gondaliya**

mo. no.:- **[9586280240](https://)**

mail id.:- **[mr.genius0180@gmail.com](https://)**
>
>
guide:- **Aryan Raj**

Sponcerd:- **Intellipaat**
>
>
Title:- **Module-1 CaseStudy-2 Basic Python**

Date:- **26/08/2024**

>

Q1. Create 1st tuple with values -> (10, 20, 30), 2nd tuple with values -> (40, 50, 60):
        
        a. Concatenate the two tuples and store it in “t_combine”
        b. Repeat the elements of “t_combine” 3 times
        c. Access the 3rd element from “t_combine”
        d. Access the first three elements from “t_combine”
        e. Access the last three elements from “t_combine”

In [13]:
tup1 = (10, 20, 30)
tup2 = (40, 50, 60)

t_combine = tup1 + tup2
print(t_combine)

t_combine_3_time = t_combine * 3
print(t_combine_3_time)

print(t_combine[2])
print(t_combine[:3])
print(t_combine[-3:])

(10, 20, 30, 40, 50, 60)
(10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60)
30
(10, 20, 30)
(40, 50, 60)

>

Q2. Create a list ‘my_list’ with these elements:
        
        a. First element is a tuple with values 1, 2, 3
        b. Second element is a tuple with values “a”, “b”, “c”
        c. Third element is a tuple with values True, False

Q3. Append a new tuple – (1, ‘a’, True) to ‘my_list’:

        a. Append a new list – *“sparta”, 123+ to my_list

In [16]:
my_list = [(1, 2, 3), ("a", "b", "c"), (True, False)]
print(my_list)

my_list.append((1,'a',True))
print(my_list)

my_list.append(["sparta", 123])
print(my_list)

[(1, 2, 3), ('a', 'b', 'c'), (True, False)]
[(1, 2, 3), ('a', 'b', 'c'), (True, False), (1, 'a', True)]
[(1, 2, 3), ('a', 'b', 'c'), (True, False), (1, 'a', True), ['sparta', 123]]

>

Q4. Create a dictionary ‘fruit’ where:
        
        a. The first key is ‘Fruit’ and the values are (“Apple”, “Banana”, “Mango”, “Guava”)
        b. The second key is ‘Cost’ and the values are (85, 54, 120, 70)
        c. Extract all the keys from ‘fruit’
        d. Extract all the values from ‘fruit’

In [18]:
fruit = { 
    'Fruit' : ("Apple", "Banana", "Mango", "Guava"),
    'Cost' : (85, 54, 120, 70)
}

print(fruit.keys())
print(fruit.values())

dict_keys(['Fruit', 'Cost'])
dict_values([('Apple', 'Banana', 'Mango', 'Guava'), (85, 54, 120, 70)])

>

Q5. Create a set named ‘my_set’ with values (1, 1, “a”, “a”, True, True) and print the result.

In [21]:
my_set = {1, 1, "a", "a", True, True}
print(my_set)

{1, 'a'}
<class 'set'>