Author:- **Bhautik Gondaliya**

mo. no.:- **[9586280240](https://)**

mail id.:- **[mr.genius0180@gmail.com](https://)**
>
>
guide:- **Aryan Raj**

Sponcerd:- **Intellipaat**
>
>
Title:- **Module-5 Case-Study Pandas**

Date:- **04/09/2024**

>

In [2]:
import numpy as np
import pandas as pd

>

1. Write a function that takes start and end of a range returns a pandas series object containing numbers within that range. 

    In case the user does not pass start or end or both they should default to 1 and 10 respectively. 

    E.g: -> range_series() -> Should Return a pandas series from 1 to 10 range_series(5) -> Should Return a pandas series from 5 to 10 range_series(5, 10) -> Should Return a pandas series from 5 to 15

In [3]:
def pandaSeries(start, stop):

    return pd.Series(range(start, stop+1))

try:
    start = int(input("Enter a Start point for a range: "))  
except ValueError:
    start=1

try:
    stop = int(input("Enter a Stop point for a range: "))
except ValueError:
    stop=10

pandaSeries(start, stop)

0     5
1     6
2     7
3     8
4     9
5    10
6    11
7    12
dtype: int64

Create a method that takes n NumPy arrays of the same dimensions, sums them and returns the answer.

In [4]:
def sumNDArray(*arrays):

    if not arrays:
        raise ValueError("At least one array is required")

    if not all(arr.shape == arrays[0].shape for arr in arrays):
        raise ValueError("All arrays must have the same dimensions")

    return np.sum(arrays, axis=0)

array1 = np.array([[1, 2, 3], [4, 5, 6]])
array2 = np.array([[7, 8, 9], [10, 11, 12]])
array3 = np.array([[13, 14, 15], [16, 17, 18]])

print(sumNDArray(array1, array2, array3))

[[21 24 27]
 [30 33 36]]

>

2. Create a function that takes in two lists named keys and values as arguments

    Keys would be strings and contain n string values
    Values would be a list containing n lists
    The methods should return a new pandas DataFrame with keys as column
    names and values as their corresponding values, e.g:

    ->create_dataframe(["One", "Two"], [["X", "Y"], ["A", "B"]]) -> should return a data frame

    One Two

    0 X A
    
    1 Y B

In [5]:
def creatDF(keys, values):
    
    return pd.DataFrame(values, index=[1,2,3], columns=keys)

arr = [["One", "Two"],[[1,2],[3,4],["A", "B"]]]

creatDF(arr[0], arr[1])

  One Two
1   1   2
2   3   4
3   A   B

>

3. Create a function that concatenates two DataFrames. Use a previously created function to create two DataFrames and pass them as parameters Make sure that the indexes are reset before returning.

In [6]:
def creatDF(keys, values):
    
    return pd.DataFrame(values, index=[1,2], columns=keys)

def concatDF(df1, df2):
    
    return pd.concat((df1, df2)).reset_index(drop=True)

arr1 = [["One", "Two"], [[1, 2], [3, 4]]]
arr2 = [["One", "Two"], [["A", "B"], ["X", "Y"]]]

df1 = creatDF(arr1[0], arr1[1])
df2 = creatDF(arr2[0], arr2[1])

concatDF(df1, df2)

  One Two
0   1   2
1   3   4
2   A   B
3   X   Y

>

4. Write code to load data from cars.csv into a dataframe and print its details. Details like: 'count', 'mean', 'std', 'min', '25%', '50%', '75%', 'max'.

In [3]:
df = pd.read_csv("Datasets/cars.csv")
df.describe()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
count,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.0000
mean,20.090625,6.187500,230.721875,146.687500,3.596563,3.217250,17.848750,0.437500,0.406250,3.687500,2.8125
std,6.026948,1.785922,123.938694,68.562868,0.534679,0.978457,1.786943,0.504016,0.498991,0.737804,1.6152
min,10.400000,4.000000,71.100000,52.000000,2.760000,1.513000,14.500000,0.000000,0.000000,3.000000,1.0000
25%,15.425000,4.000000,120.825000,96.500000,3.080000,2.581250,16.892500,0.000000,0.000000,3.000000,2.0000
50%,19.200000,6.000000,196.300000,123.000000,3.695000,3.325000,17.710000,0.000000,0.000000,4.000000,2.0000
75%,22.800000,8.000000,326.000000,180.000000,3.920000,3.610000,18.900000,1.000000,1.000000,4.000000,4.0000
max,33.900000,8.000000,472.000000,335.000000,4.930000,5.424000,22.900000,1.000000,1.000000,5.000000,8.0000

>

5. Write a method that will take a column name as argument and return the name of the column with which the given column has the highest
correlation. The data to be used is the cars dataset.

    The returned value should not the column named that was passed as the parameters, e.g. : get_max_correlated_column('mpg') -> should return 'drat

In [16]:
def highCorrelation(col):
    
    numeric_df = df.drop(columns=['S.No', 'model']).corr()
    
    # Extract the correlations of the specified column
    corr_series = numeric_df[col].drop(labels=[col])  # Drop self-correlation
    
    # Get the column with the highest correlation
    max_correlated_column = corr_series.idxmax()
    
    return max_correlated_column

highCorrelation("mpg")

'drat'