Author:- **Bhautik Gondaliya**

mo. no.:- **[9586280240](https://)**

mail id.:- **[mr.genius0180@gmail.com](https://)**
>
>
guide:- **Fatima**

Sponcerd:- **Intellipaat**
>
>
Title:- **Module-7_A Assignment Statistics**

Date:- **03/10/2024**

>

Create a table in excel, table should have 2 columns named x and y:

    a. ‘x’ column should have numbers from 1-5
    b. ‘y’ should have numbers 2, 4, 5, 4, 2
    c. Now calculate the mean of columns x and y
    d. Calculate the mode of column x
    e. Calculate the standard deviation of column y
    f. At last calculate the range of columns x and y separately

>

In [1]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_excel('dataofassigment.xlsx')
df

   x  y
0  1  2
1  2  4
2  3  5
3  4  4
4  5  2

In [10]:
# (c) Mean of col x and y
print(df['x'].mean())
print(df['y'].mean())

3.0
3.4

In [19]:
# (d) Mode of col x
print(df['x'].mode())
print(df['y'].mode())

0    1
1    2
2    3
3    4
4    5
Name: x, dtype: int64
0    2
1    4
Name: y, dtype: int64

In [20]:
# (e) Standard Deviation of col y
print(df['x'].std())
print(df['y'].std())

1.5811388300841898
1.3416407864998738

In [21]:
# (f) Range of col x and y
print(df['x'].max()-df['x'].min())
print(df['y'].max()-df['y'].min())

4
3