Author:- **Bhautik Gondaliya**

mo. no.:- **[9586280240](https://)**

mail id.:- **[mr.genius0180@gmail.com](https://)**
>
>
guide:- **Aryan Raj**

Sponcerd:- **Intellipaat**
>
>
Title:- **Module-1 File-1**

Date:- **23/08/2024**

>

Q1. Create a python file named Module.

        a. Inside the file, define 4 methods named – addition, subtraction, multiplication, and division.
        b. Each method should only accept 2 arguments and should return the result of the operation performed in each method. For e.g., addition() should return the sum of two arguments.
        c. Save the Module file in .py format.

In [ ]:
# module.py file

>

Q2. Open a new python file and import the Module.py file.

a. Now call the 4 methods from the Module.py file, i.e., addition(), subtraction(), multiplication(), and division().

In [3]:
import module

print("Addition: ", module.add(2, 3))
print("Substraction: ", module.sub(5, 3))
print("Multiplication: ", module.mul(8, 3))
print("Division: ", module.div(25, 5))

Addition:  5
Substraction:  2
Multiplication:  24
Division:  5.0

>

Q3. From the Module file, import only the addition() and pass the arguments so that it can
display the result from the method.

In [6]:
from module import add

print("Addition: ", add(2, 3))

Addition:  5

>

Q4. From the Module file, import only the subtraction() and pass the arguments so that it can
display the result from the method.

In [8]:
from module import sub

print("Substraction: ", sub(5, 3))

Substraction:  2

>

Q5. From the Module file, import both the multiplication() and division() and pass the
arguments so that it can display the result from the methods.

In [10]:
from module import sub, div

print("Multiplication: ", mul(8, 3))
print("Division: ", div(25, 5))

Multiplication:  24
Division:  5.0

>

Q6. Create a python if-else program to 
        
        a. check if the given numbers are greater or not.
        b. check whether the given number is an armstrong number or not.
        c. check whether the given number is a prime number or not. 
    
    Make use of python if-else, and elif statements for the same.

In [8]:
# check a Greater Number

def checkGreater(a, b, c):
    if a >= b and a >= c:
        print(f"{a} is a greter Number.")
    elif b >= a and b >= c:
        print(f"{b} is a greter Number.")
    elif c >= a and c >= b:
        print(f"{c} is a greter Number.")

checkGreater(89, 180, 56)

180 is a greter Number.

In [9]:
# check an armstrong number 371 = 3^3 + 7^3 + 1^3 = 371

def checkArmstrong(num):
    
    len_num = len(str(num))
    total_sum = 0

    for i in range(len_num):
        rem = num % 10
        exp = rem ** len_num
        num = num // 10
        total_sum += exp

    if total_sum == user_number:
        print(f"{user_number} is a Armstrong Number.")
    else:
        print(f"{user_number} is not a Armstrong Number.")

user_number = int(input("Enter Your Number: "))
checkArmstrong(user_number)

371 is a Armstrong Number.

In [23]:
# check a prime number x%1 and x%x == 0

def checkPrime(num):

    for i in range(2, num):
        if num % i == 0:
            print(f"{user_number} is not a Prime Number.")
            break
    else:
        print(f"{user_number} is a Prime Number.")

user_number = int(input("Enter Your Number: "))
checkPrime(user_number)

45 is not a Prime Number.

>

Q7. Create a calculator program for addition, subtraction, multiplication and floor division. Take the inputs from the user, and based on the choice of operation, return the results.

In [20]:
def add(a, b):
    return a + b

def sub(a, b):
    return a - b

def mul(a, b):
    return a * b

def div(a, b):
    return a // b

user_1st_num = int(input("Enter a 1st Number: "))
user_2nd_num = int(input("Enter a 2nd Number: "))
user_choice = int(input("Choice a method 1:Addition  2:Subtraction 3:Multiplication 4:Floor Division :: "))

if user_choice == 1:
    print(f"{user_1st_num} + {user_2nd_num} = {add(user_1st_num, user_2nd_num)}")
elif user_choice == 2:
    print(f"{user_1st_num} - {user_2nd_num} = {add(user_1st_num, user_2nd_num)}")
elif user_choice == 3:
    print(f"{user_1st_num} * {user_2nd_num} = {add(user_1st_num, user_2nd_num)}")
elif user_choice == 4:
    print(f"{user_1st_num} // {user_2nd_num} = {add(user_1st_num, user_2nd_num)}")
else:
    print("Invalide Method Choice only Enter 1 / 2 / 3 / 4.")

464 + 545456 = 545920

>

Q8. Create a fibonacci sequence using python if-else statements.

In [36]:
# 0 1 1 2 3 5 8 13 21 34 55 ...

n1 = 0
n2 = 1
user_number = int(input("Enter a Series Number: "))

if user_number <=0:
    print("Invalid input. Please enter a positive integer.")
else:
    print(f"Fibonacci {user_number} Sequence is: ", end=" ")
    for i in range(user_number):
        print(n1, end=" ")
        n3 = n1 + n2
        n1 = n2
        n2 = n3

Fibonacci 2 Sequence is:  0 1

>

Q9. Create a nested dictionary with values as a nested list for each key in the dictionary.

In [30]:
class_wise_grades = {
  "Class 1": [
               [85, 90, 78],   # Grades of Student 1 in Math, Science, English
               [88, 92, 81],   # Grades of Student 2 in Math, Science, English
               [75, 85, 89]    # Grades of Student 3 in Math, Science, English
             ],
  "Class 2": [
               [90, 91, 85],   # Grades of Student 1 in Math, Science, English
               [79, 84, 88]    # Grades of Student 2 in Math, Science, English
             ]
}

class1_std1_maths_grades = class_wise_grades["Class 1"][0][0]
print(f"Math Grade of Student 1 in Class 1: {class1_std1_maths_grades}")

class2_std2_grades = class_wise_grades["Class 2"][1]
print(f"Grade of Student 2 in Class 2: {class2_std2_grades}")

Math Grade of Student 1 in Class 1: 85
Grade of Student 2 in Class 2: [79, 84, 88]

>

Q10. Create two sets and perform the following:
        
        a. Union of the two sets
        b. Intersection of the two sets

In [45]:
set_1 = {1,3,5,7,9,11,13,17,19}
set_2 = {11,12,13,14,15}

print(f"Set1 Union of Set2 is: {set_1.union(set_2)}\n")
print(f"Set1 Intersection of Set2 is: {set_1.intersection(set_2)}")

Set1 Union of Set2 is: {1, 3, 5, 7, 9, 11, 12, 13, 14, 15, 17, 19}

Set1 Intersection of Set2 is: {11, 13}

>

Q11. Create a nested tuple from the dictionary, with each item in the tuple as a key value pair from the dictionary.

In [48]:
dict_data = {
    "Name": "Bhautik",
    "Age": 25,
    "Occupation": "Data Scientist",
    "Country": "India"
    }

tuple_data = tuple((key, value) for key, value in dict_data.items())
tuple_data

(('Name', 'Bhautik'),
 ('Age', 25),
 ('Occupation', 'Data Scientist'),
 ('Country', 'India'))

>

Q12. Create a list of the first 50 even natural numbers, and perform the following operations.

        a. Count the number of elements in the list.
        b. Reverse the sequence of the list.
        c. Sort the list in ascending and descending order.
        d. Get the index value for the element 44, and update the element with the number 100.
        e. Return a copy of the list, with the resulting list containing the square of each element.

In [74]:
list_even = [2 * i for i in range(1,51)]

print("Original list is:", list_even)

Original list is: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [75]:
# Count the number of elements in the list

print(f"Lenghth of List is: {len(list_even)}")

Lenghth of List is: 50

In [76]:
# Reverse the sequence of the list

rev_list_even = list_even[::-1]

print("Reversed list is:", rev_list_even)

Reversed list is: [100, 98, 96, 94, 92, 90, 88, 86, 84, 82, 80, 78, 76, 74, 72, 70, 68, 66, 64, 62, 60, 58, 56, 54, 52, 50, 48, 46, 44, 42, 40, 38, 36, 34, 32, 30, 28, 26, 24, 22, 20, 18, 16, 14, 12, 10, 8, 6, 4, 2]

In [84]:
# Sort the list in ascending and descending order

asc_sort_list_even = sorted(list_even)

print(f"Sort the list in ascending order is:", asc_sort_list_even)

des_sort_list_even = sorted(list_even, reverse=True)

print(f"Sort the list in descending order is:", des_sort_list_even)

Sort the list in ascending order is: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
Sort the list in descending order is: [100, 98, 96, 94, 92, 90, 88, 86, 84, 82, 80, 78, 76, 74, 72, 70, 68, 66, 64, 62, 60, 58, 56, 54, 52, 50, 48, 46, 44, 42, 40, 38, 36, 34, 32, 30, 28, 26, 24, 22, 20, 18, 16, 14, 12, 10, 8, 6, 4, 2]

In [103]:
# Get the index value for the element 44, & update the element with the number 100.

print("Index of 44:", list_even.index(44))

list_even[list_even.index(44)] = 100

print("Updated List is: ", list_even)

Index of 44: 21
Updated List is:  [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 100, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [104]:
# Return a copy of the list, with the resulting list 
# containing the square of each element.

square_list_even = [i ** 2 for i in list_even]

print("Square List of All elements is: ", square_list_even)

Square List of All elements is:  [4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576, 676, 784, 900, 1024, 1156, 1296, 1444, 1600, 1764, 10000, 2116, 2304, 2500, 2704, 2916, 3136, 3364, 3600, 3844, 4096, 4356, 4624, 4900, 5184, 5476, 5776, 6084, 6400, 6724, 7056, 7396, 7744, 8100, 8464, 8836, 9216, 9604, 10000]

>

Q13. Create a nested dictionary and perform the following operations.
        
        a. Return a list with the key value pairs from the dictionary.
        b. Return a list with just the keys from the dictionary.
        c. Remove the first and last key value from the dictionary.
        d. Update the last key value pair in the dictionary after removing in the 3rd step.

In [181]:
company_dict = {
    "Engineering": {
        "Alice Smith": "Software Engineer",
        "Age": 30,
        "Location": "New York"
        },
    "Marketing": {
        "Carol Davis": "Marketing Manager",
        "Age": 29,
        "Location": "Chicago"
        },
    "Sales": {
        "Eva Brown": "Sales Representative",
        "Age": 32,
        "Location": "Houston"
        },
    "Ceo": {
        "Bhautik Gondaliya": "CEO & MD",
        "Age": 23,
        "Location": "India"
    }
    }

In [182]:
# Return a list with the key value pairs from the dictionary.

list_company_dict = []

for key1, value1 in company_dict.items():
    for key, val in value1.items():
        list_company_dict.append([key1, [key, val]])

print(f"Company Dictionary in List Form: {list_company_dict}")

Company Dictionary in List Form: [['Engineering', ['Alice Smith', 'Software Engineer']], ['Engineering', ['Age', 30]], ['Engineering', ['Location', 'New York']], ['Marketing', ['Carol Davis', 'Marketing Manager']], ['Marketing', ['Age', 29]], ['Marketing', ['Location', 'Chicago']], ['Sales', ['Eva Brown', 'Sales Representative']], ['Sales', ['Age', 32]], ['Sales', ['Location', 'Houston']], ['Ceo', ['Bhautik Gondaliya', 'CEO & MD']], ['Ceo', ['Age', 23]], ['Ceo', ['Location', 'India']]]

In [183]:
# Return a list with just the keys from the dictionary.

list_keys_company_dict = [i for i in company_dict.keys()]

print(f"Company Dictionary's Key is: {list_keys_company_dict}")

Company Dictionary's Key is: ['Engineering', 'Marketing', 'Sales', 'Ceo']

In [184]:
# Remove the first and last key value from the dictionary.

if len(list_keys_company_dict) >= 2:

    first_key = list_keys_company_dict[0]
    last_key = list_keys_company_dict[-1]

    del company_dict[first_key]
    del company_dict[last_key]

elif len(list_keys_company_dict) == 2:
    company_dict.clear()
    
else:
    print("Not 2 or more keys in the Dictionary.")

print("Updated Company Dictionary is: ", company_dict)

Updated Company Dictionary is:  {'Marketing': {'Carol Davis': 'Marketing Manager', 'Age': 29, 'Location': 'Chicago'}, 'Sales': {'Eva Brown': 'Sales Representative', 'Age': 32, 'Location': 'Houston'}}

In [187]:
# Update the last key value pair in the dictionary after removing in the 3rd step.

list_keys_company_dict = [i for i in company_dict.keys()]

last_key = list_keys_company_dict[-1]

company_dict[last_key] = {
        "Bhautik Gondaliya": "CEO & MD",
        "Age": 23,
        "Location": "India"
    }

print("Updated Company Dictionary is: ", company_dict)

Updated Company Dictionary is:  {'Marketing': {'Carol Davis': 'Marketing Manager', 'Age': 29, 'Location': 'Chicago'}, 'Sales': {'Bhautik Gondaliya': 'CEO & MD', 'Age': 23, 'Location': 'India'}}

>

Q14. For the given strings A = “Python Programming Language”, B = “Best in the World” perform the following operations.
        
        a. Using indexing operations, get the text “gram” from the string A.
        b. Using indexing operations, get the text “World” from the string B.
        c. Change the letters in both strings to Uppercase letters.
        d. Concatenate the two strings.

In [2]:
a = 'Python Programming Language'
b = 'Best in the World'

In [5]:
# Using indexing operations, get the text “gram” from the string A

a.find("gram")
a[10:14]

'gram'

In [7]:
# Using indexing operations, get the text “World” from the string B.

b.find("World")
b[12:17]

'World'

In [8]:
# Change the letters in both strings to Uppercase letters.

print(a.upper())
print(b.upper())

PYTHON PROGRAMMING LANGUAGE
BEST IN THE WORLD

In [12]:
# Concatenate the two strings.

print(a+" "+b)

Python Programming Language Best in the World

>

Q15. Create a list with n numbers, and using negative indexing return the list starting from
      the 5th index to the n-2th index.

In [14]:
list_nth_number = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]

# n index is -1 so n-2 = -3.   5th to the n-2 => [5 : -3]
list_nth_number[5:-2]

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]

>

Q16. Using range(), create a list with numbers ranging from 5-100, and the number of elements
should be exactly 19.

In [26]:
l1 = list(range(5, 100, 5))
# len(l1)  ## 95 ==> 95 / 19 = 5
print(l1)
len(l1)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

19