Author:- **Bhautik Gondaliya**

mo. no.:- **[9586280240](https://)**

mail id.:- **[mr.genius0180@gmail.com](https://)**
>
>
guide:- **Aryan Raj**

Sponcerd:- **Intellipaat**
>
>
Title:- **Module-1 Assignment-2**

Date:- **23/08/2024**

>

Q1. For a given list that contains numbers from 1 to 20. Using a for loop, 
create a new list that contains the square of each element from the given list

In [2]:
list_num = list(range(1, 21))

squre_list_num = []

for i in list_num:
    squre_list_num.append(i ** 2)

print("Squre of Listof (1 to 20) is: ", squre_list_num)

Squre of Listof (1 to 20) is:  [1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

>

Q2. For a given dictionary that contains numbers from 1-10 as keys, and their square as values, display each key-value pair using a for loop

In [19]:
dict_num = {}
for key in range(1, 11):
    dict_num[key] = key**2

for key1, val1 in dict_num.items():
    print(f"Square of '{key1}' == '{val1}'")

Square of '1' == '1'
Square of '2' == '4'
Square of '3' == '9'
Square of '4' == '16'
Square of '5' == '25'
Square of '6' == '36'
Square of '7' == '49'
Square of '8' == '64'
Square of '9' == '81'
Square of '10' == '100'

>

Q3. A tuple contains even numbers from 1-20. Display all the items in a tuple using a for loop.

In [3]:
tup1 = tuple(range(1, 21))

for i in tup1:
    if i % 2 != 0:
        continue
    print(i, end=" ")

2 4 6 8 10 12 14 16 18 20

>

Q4. A set contains odd numbers from 1-20. Display the items in a set using a for loop.

In [26]:
set1 = set(range(1,20, 2))

for i in set1:
    print(i, end=" ")

1 3 5 7 9 11 13 15 17 19

>

Q5. For a given sequence of nested lists, display the elements using a for loop.
    
        a = [[1,2],[3,4],[5,6],[7,8]]

In [31]:
a = [[1,2],[3,4],[5,6],[7,8]]

for i in a:
    for j in i:
        print(j, end=" ")

1 2 3 4 5 6 7 8

>

Q6. For a given sequence of nested dictionaries, display all the values in the dictionary.

        a = {1: {'one':1}, 2: {'two':2}, 3: {'three':3}}

In [33]:
a = {1: {'one':1}, 2: {'two':2}, 3: {'three':3}}

for i in a.values():
    print(i, end=" ")

{'one': 1} {'two': 2} {'three': 3}

>

Q7. For a given list of natural numbers from 1-100, using the while loop, print only the numbers that are divisible by 2.

In [37]:
num = 1

while num <= 100:
    if num % 2 == 0:
        print(num, end=" ")
    num += 1

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

>

Q8. Print the first 5 multiples of 3 using a while loop.

In [41]:
num = 1

while num <= 5:
    print(num*3, end=" ")
    num += 1

3 6 9 12 15

>

Q9. For a given dictionary that contains the first 10 natural numbers as keys, and their cubes
as values, display the key value pairs using a while loop.

In [43]:
num = 1
dict1 = {}

while num <= 10:
    dict1[num] = num ** 3
    num += 1

print(dict1)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

>

Q10. Write a program using a while loop demonstrating the usage of break, continue and pass
statements along with if else statements.

In [52]:
num = 0

while num <= 11:

    if num == 0:  ## skip
        num += 1
        continue
    elif num == 5:  ## pass
        pass
    elif num == 11:  ## end of loop
        break
    
    print(num, end=" ")
    num += 1

1 2 3 4 5 6 7 8 9 10

>

Q11. Write a program using a for loop demonstrating the usage of break, continue and pass
statements along with if else statements.

In [53]:
for num in range(0, 11):

    if num == 0:  ## skip
        continue
    elif num == 5:  ## pass
        pass
    elif num == 7:  ## end of loop
        break
    
    print(num, end=" ")

1 2 3 4 5 6

>

Q12. Create a nested for loop to print a pyramid pattern program in python.

In [68]:
''''
  *
 ***
*****
'''
user_raw = int(input("Enter a Row Number: "))

for i in range(user_raw):

    for j in range(user_raw - 1 - i):
        print(' ', end='')

    for k in range(2 * i + 1):
        print('*', end='')
    
    print()

    *
   ***
  *****
 *******
*********

In [70]:
user_raw = int(input("Enter a Row Number: "))

for i in range(user_raw):

    for j in range(i + 5 - 3 * i):
        print('*', end='')
    
    print()

*****
***
*

In [77]:
user_raw = int(input("Enter a Row Number: "))

for i in range(user_raw):
    
    for j in range (i):
        print(" ", end="")

    for k in range((2 * user_raw - 1) - (2 * i)):
        print("*", end="")

    print()

*****
 ***
  *